:root {
    --primary-text-color: #757575;; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}
.logo-primary {
    color: var(--accent-color);
}
.logo-secondary {
    color:#000000
}
.logo:hover,
.logo:focus {
color: var(--accent-color);
}
.logo {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    text-decoration: none;
}
.link {
    color: var(--title-text-color);

    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.link-mail {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.link-mail:hover,
.link-mail:focus {
    color: var(--accent-color);
}
.headline {
background-color: var(--primary-white-color);
}
.page {
    color: var(--title-text-color);
    background-color: #F5F5F5;

    font-family: Roboto, sans-serif;
}
.button-primary {
    background-color: #2F303A;

    letter-spacing: 0.06em;
    text-align: center;
}
.button-primary:hover,
.button-primary:focus {
    color: var(--accent-color);
}
.module {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    text-align: center;
}
.module-button:hover,
.module-button:focus {
    color: var(--primary-white-color);
}
.module-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
}
.block {
    letter-spacing: 0.03em;
}
.block-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
}
.undertitle {
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
}
.block-work {
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.title {
    list-style: none;
}
.site-nav {
    list-style: none;

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
}
.site-nav .link.current {
color: var(--accent-color);
}
.images {
    list-style: none;
}
.team {
    list-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-block {
    background-color: #F5F4FA;

    letter-spacing: 0.03em;
    
}
.project-work {
    list-style: none;
}
.auth-nav {
    list-style: none;

    letter-spacing: 0.02em;
}
.undertitle {
    color: var(--primary-text-color);
}
.info-title {
    list-style: none;
}
.project {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: left;
}
.project-text {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
.bottom {
    background-color: #2F303A;
}
.bottom:hover,
.bottom:focus {
    color: var(--accent-color);
}
.link-info {
    color: var(--primary-white-color);

    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.link-info:hover,
.link-info:focus {
    color: var(--accent-color);
}
.list-button:hover,
.list-button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
}
.list-button {
    color: var(--title-text-color);
    background-color: #F5F4FA;

    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
   }
.buttons {
    list-style: none;
}
.project-branch {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
}
.link-color {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.link-color:hover,
.link-color:focus {
    color: var(--accent-color);
}  
