:root {
    --primary-text-color: #757575;; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}
.logo-primary {
    color: var(--accent-color);
}
.logo-secondary {
    color:#000000
}
.logo:hover,
.logo:focus {
color: var(--accent-color);
}
.link {
    color: var(--title-text-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.link-mail {
    color: var(--primary-text-color);
}
.link-mail:hover,
.link-mail:focus {
    color: var(--accent-color);
}
.headline {
background-color: var(--primary-white-color);
}
.page {
    color: var(--title-text-color);
    background-color: #F5F5F5;
}
.button-primary {
    background-color: #2F303A;
}
.button-primary:hover,
.button-primary:focus {
    color: var(--accent-color);
}
.module {
    color: var(--primary-white-color);
}
.module-button:hover,
.module-button:focus {
    color: var(--primary-white-color);
}
.module-button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.block-title {
    color: var(--title-text-color);
}
.undertitle {
    color: var(--primary-text-color);
}
.title {
    list-style: none;
}
.site-nav {
    list-style: none;
}
.site-nav .link.current {
color: var(--accent-color);
}
.images {
    list-style: none;
}
.team {
    list-style: none;
}
.team-block {
    background-color: #F5F4FA
}
.project-work {
    list-style: none;
}
.auth-nav {
    list-style: none;
}
.undertitle {
    color: var(--primary-text-color);
}
.info-title {
    list-style: none;
}
.project-text {
    color: var(--primary-text-color);
}
.bottom {
    background-color: #2F303A;
}
.bottom:hover,
.bottom:focus {
    color: var(--accent-color);
}
.link-info {
    color: var(--primary-white-color);
}
.link-info:hover,
.link-info:focus {
color: var(--accent-color);
}
.project {
    color: var(--title-text-color);
}
.list-button:hover,
.list-button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
}
.list-button {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.buttons {
    list-style: none;
}
.project-text {
    background-color: var(--primary-white-color);
}
.project {
    background-color: var(--primary-white-color);
}